*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../Images/Todo-image-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    margin-top: 6rem;
}

.btn-add{
    background-color: rgba(218, 47, 47, 0.712);
    padding: 1rem 1rem;
    border-radius: 15px;
    border: 1px solid brown;
}
.btn-add:hover{
    cursor: pointer;
    background-color: brown ;
}
a{
    text-decoration: none;
    color: white;
}


.done{
    text-decoration: line-through;
}

.get-todo-container{
    background:rgba(222, 184, 135, 0.849);
    width: 90%;
    max-width: 450px;
    margin: 1rem auto 1.5rem;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.del_btn{
    height: 35px;
    width: 100px;
    padding: 10px;
    border-radius: 8px;
    outline: 0;
    border: none;
    background-color: firebrick;
    color: bisque;
    cursor: pointer;
    /* align-self: flex-end; */
}
.eachTodos{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin: 0 0 10px;
    font-size: 20px;
    text-align: start;
}


@media screen and (max-width: 345px) {
    body{
        background-image: url(../Images/Todo-image-2.jpg);
        background-repeat: no-repeat;
        background-size: 70rem;
    }


    .get-todo-container{
        background:rgba(222, 184, 135, 0.849);
        width: 100%;  
    }
}