*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../Images/Todo-image-1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
form{
    background: plum;
    width: 90%;
    max-width: 670px;
    margin: 80px auto 20px;
    padding: 20px;
    border-radius: 5px;
}
input{
    height: 55px;
    width: 100%;
    border: 0;
    margin: 0 auto 15px;
    border-radius: 8px;
    padding: 10px;
    outline: 0;
    font-size: 25px;
    padding: 10px;
}
label{
    font-size: 23px;
}

button{
    height: 40px;
    width: 180px;
    padding: 10px;
    outline: 0;
    border: none;
    background: firebrick;
    color:floralwhite;
    border-radius: 10px;
    cursor: pointer;
    }
    button:hover{
        background: darksalmon;
        color:floralwhite;
    }